.certs.done
.cluster1-cacerts.done
.cluster2-cacerts.done
.fetch.done
.kind-cloud-provider.done
.prepare.done
.root-ca.done
certs/root-ca.conf
certs/root-cert.csr
certs/root-cert.pem
certs/root-cert.srl
certs/root-key.pem
certs/cluster1/ca-cert.pem
certs/cluster1/ca-key.pem
certs/cluster1/cert-chain.pem
certs/cluster1/root-cert.pem
certs/cluster2/ca-cert.pem
certs/cluster2/ca-key.pem
certs/cluster2/cert-chain.pem
certs/cluster2/root-cert.pem
